/*.head{
  background-image: url("business-computer-contemporary-218863.jpg");
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;

}*/
.text1{
  text-align: center;
  color:  	#808080;
}
.d-block{
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
.word{
  color: white;
  text-align: center;
  padding: 50px;
}
.word2{
  text-align: center;
}
img{
  height: 30vh;
}
.flex-container {
  display: flex;
  width: 100%
}
.top{
  background-color: black;
  width: 100%;
  height: 1.5vh;
  color: white;
}
.row{
  text-align: center;

}
.col-md
{background-color:#ededed;}
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
.container{
  width: 1000px !important;
}
.listing{
  border: 1px solid gray;
  width: 80%;
}
.con{
  display: flex;
  height: 100vh;
}
.sidebar{
  width:20%;
  background-color:#fafafa;
  text-align: center;
  height: 100vh;
}
.nav1{
  background-image: url("business-computer-contemporary-218863.jpg");
  background-size: cover;
  color: white;
  border:0px solid white;
  -webkit-box-shadow: 10px 10px 31px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 31px 7px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 31px 7px rgba(0,0,0,0.25);
}
